/* MENUS */

/* Partie gauche */
.menuGauche {
    width: 20%;
    display: inline-block;
    height: 100vh;
}


.menu1, .menu3{
    height:65%;
}

/* Partie droite */
.menuDroite {
    display: inline-block;
    width: 20%;
    height: 100vh;
}

.centre{
    width: 60%;
    display: inline-block;
}

.menu2,.menu4 {
    position: relative;
    height:35%;
}

/* Partie commune */
.menu1,.menu2,.menu3,.menu4 {
    text-align: center;
    background-color: #94bf3d;
    color: white;
    width: 100%;
    overflow: hidden;
    border-bottom: 3px solid black;
}


/* AUTRE */

#leftImage {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
}

#rightImage {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 100px;
}

#boutons {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

#rendererArea {
    width: 100%;
    text-justify: auto;
    color: dimgrey;
    text-align: justify;
    display:inline-block;
    height: 100vh;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    text-decoration: underline;
    margin: 7px;
}

h2 {
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
}

/*Liens qui ouvrent les fenêtres modales*/
.lienModal
{
	position: absolute;
	bottom: 10px;
	overflow : hidden;
	border : solid 1px #fff;
	border-radius : 5px;
}

.lienModal a
{
	margin : 0;
	padding : 5px;
}

.lienModal a:hover
{
	background : #ffe;
	color : #000;
}

/*Les fenêtres modales*/
.modalDialog {
    position: fixed;
	overflow : auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity:0;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: #fff;
}

.modalDialog h3
{
	font-size : 18px;
}

.modalDialog p a
{
    color : #4D5B7D;
}

.modalDialog li
{
    margin-bottom : 10px;
}


/*Bouton de fermeture de la fenêtre modale*/
.close {
    background: #4D5B7D;
	color : #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #E74C3C;
}